-#.avatar
-#  = link_to image_tag post.topic.category.avatar, category_path(post.topic_id)
.title.fl
  %h1.post_title= link_to_if post.has_preview?, post.name, post
  %span
    = link_to post.topic.name, post.topic
    *****
    = "#{time_ago_in_words(post.created_at)} ago"

.controls.fr
  = render :partial => "posts/post_controls", :locals => {:post => post}
.cb