-#.avatar
-#  = link_to image_tag post.topic.category.avatar, category_path(post.topic_id)
- if (defined?(topic_name))
  %p= topic_name
.title.fl
  %h1.post_title.fl= link_to post.name, post
  %p.fl= post.created_at
  .cb
.controls.fr
  = link_to edit_post_path(post) do
    = image_tag "buttons/edit.png"
.cb