- hidden_style = @post.persisted? ? "" : "display:none;"

:javascript
  $(document).ready(function () {
    $('#topics').change(function() {
      $('.new_topic').hide();
      var topic_id = $(this).val();
      $('#post_topic_id').val(topic_id);

      if (topic_id.length == 0)
        $('.post_block').hide();
      else
        $('.post_block').show();
    });
  });

.vtiny.htiny
  .bar.topics.fl
    = label_tag :topic
    = collection_select :topic, :topic_id, @topics || [], :id, :name, { :selected => @post.topic_id, :include_blank => true }, :id => :topics
    = link_to image_tag("buttons/add.png", :class => "vam btn", :size => "20x20"), "#", :onclick => "$('.new_topic').toggle(); return false;"
    .new_topic{:style => "display:none;"}
      = render :partial => "topics/form"

  .fl.bar.post_block{:style => hidden_style}
    = render :partial => "tags/form"

    - if @post.persisted? && !@post.tag_list.blank?
      %br
      .exist_tags
        = label_tag :already_exist
        = render :partial => "tags/tag_list", :locals => {:post => @post, :controls => true, :as_text => true}

  .cb
  .post_block{:style => hidden_style}
    .bar
      = form_for @post, prepare_form_params(@post) do |form|
        = form.hidden_field :topic_id
        = form.label :title
        = form.text_field :name

        %br
        = form.label :body
        = form.text_area :body, :class => "redactor", :rows => 40
        = form.submit @post.persisted? ? "Update" : "Create", :class => "btn"
