- hidden_class = @post.persisted? ? "" : "hidden"

:javascript
  $(document).ready(function () {
    $('#categories').change(function() {
      $('.new_category').addClass('hidden');
      var category_id = $(this).val();
      if (category_id.length == 0)
        $('.topics, .post_block').addClass('hidden');
      else
        $.ajax({
          url: '/categories/' + category_id + '/topics',
          data: {'cached': '1'},
          success: function(data) {
            $('#topics').html(data.data);
            $('.topics').removeClass('hidden');
            $('#topic_category_id').val(category_id);

            if (data.data.length > 0)
              $('#topics').trigger('change');
            else
              $('.post_block').addClass('hidden');
          }
        });
    });

    $('#topics').change(function() {
      $('.new_topic').addClass('hidden');
      var topic_id = $(this).val();
      $('#post_topic_id').val(topic_id);

      if (topic_id.length == 0)
        $('.post_block').addClass('hidden');
      else
        $('.post_block').removeClass('hidden');
    });
  });

.content_block.bg.fl
  = label_tag :category
  = collection_select :category, :category_id, @categories, :id, :name, { :include_blank => true, :selected => @category_id }, :id => :categories

  = link_to image_tag("buttons/add.png", :class => "vam btn", :size => "20x20"), "#", :onclick => "$('.new_category').toggleClass('hidden'); return false;"
  .new_category.hidden
    = render :partial => "categories/form"

.content_block.topics.bg.fl{:class => hidden_class}
  = label_tag :topic
  = collection_select :topic, :topic_id, @topics || [], :id, :name, { :selected => @post.topic_id }, :id => :topics
  = link_to image_tag("buttons/add.png", :class => "vam btn", :size => "20x20"), "#", :onclick => "$('.new_topic').toggleClass('hidden'); return false;"
  .new_topic.hidden
    = render :partial => "topics/form"

.fl.content_block.bg.post_block.w99{:class => hidden_class}
  = render :partial => "tags/form"

  - if @post.persisted? && !@post.tag_list.blank?
    %br
    .exist_tags
      = label_tag :already_exist
      = render :partial => "tags/tag_list", :locals => {:post => @post}
.cb

.post_block{:class => hidden_class}
  .content_block.bg
    = form_for @post, prepare_form_params(@post) do |form|
      = form.hidden_field :topic_id
      = form.label :title
      = form.text_field :name

      %br
      = form.label :body
      = form.text_area :body
      = form.submit @post.persisted? ? "Update" : "Create", :class => "btn"
