= render :partial => "shared/highlight"
- if @posts.empty?
  %h2.content_block.bg= "No results for \"#{@criterion}\""
- else
  %h2.content_block.bg= "Results for \"#{@criterion}\""
  = render :template => "posts/index"