:javascript
  $(document).ready(function() {
    $('#new_category').submit(function() {
      categorySubmitProc();
      return false;
    });
  });

  function categorySubmitProc() {
    $.ajax({
      url: "#{categories_path}",
      type: 'POST',
      data: $('#new_category').serialize(),
      success: function(data) {
        if (data.status) {
          $('#categories').append('<option value="' + data.id + '" selected="selected">' + data.name + '</option>');
          $('#categories').trigger('change');
          $('.new_category').addClass('hidden');
        }
      }
    });
  }

= form_for :category, :url => categories_path, :html => { :method => :post, :multipart => true, :id => 'new_category', :class => 'content_block'} do |f|
  = f.label :title
  = f.text_field :name
  %br
  = f.label :logo
  = f.file_field :avatar

  = f.submit :create