:javascript
  $(function() {
    var acc_settings = {
                          icons:false,
                          active: false,
                          autoHeight: false,
                          changestart:function(event, ui) {
                            var obj_id = ui.newHeader.find('a').attr('href');
                            if (obj_id.length > 0) {
                              loadTopics(obj_id);
                              $('.categories').accordion('resize');
                              ui.newHeader.find('a').attr('href', '');
                            }
                          }
                       };

    $( ".categories" ).accordion(acc_settings);
  });

  function loadTopics(category_id) {
    var elem = $('#category_'+category_id);
    if (elem.hasClass('open')) {
      elem.toggle();
      return false;
    }

    $.ajax({
      url: '/categories/' + category_id + '/topics',
      success: function(data) {
        $('#category_'+category_id).addClass('open').html(data.data);
      }
    });
  }

.categories
  - @categories.each do |category|

    %h3
      %span.title
        %span.fl
          - if category.topics_count > 0
            = image_tag category.avatar, :class => "fl"
            %span.fl
              = link_to category.name, "#{category.id}"
            .cb
          - else
            #{category.name}
        %span.controls.fr
          #{category.topics_count > 0 ? pluralize(category.topics_count, "topic") : "empty"}
        .cb
    %div
      %ul[category]