:javascript
  $(function() {
    $('.categories').collapse({toggle: false});

    $('.categories').on('show', function (data) {
      var obj_id = $(data.target).attr('rel');
      if (obj_id.length > 0) {
        loadTopics(obj_id);
        //$('.categories').collapse({toggle: false});
        $(data.target).attr('rel', '');
      }
    })
  });

  function loadTopics(category_id) {
    var elem = $('#category_'+category_id);
    if (elem.hasClass('open')) {
      elem.toggle();
      return false;
    }

    $.ajax({
      url: '/categories/' + category_id + '/topics',
      success: function(data) {
        $('#category_'+category_id).addClass('open').find("ul").html(data.data);
      }
    });
  }

.categories
  - @categories.each do |category|
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-toggle" => "collapse", "data-parent" => ".categories", :href => "#category_#{category.id}"}
          = category.name

      %div[category]{:rel => "#{category.id}"}
        %ul


    -#%h3
    -#  %span.title
    -#    %span.fl
    -#      - if category.topics_count > 0
    -#        = image_tag category.avatar, :class => "fl"
    -#        %span.fl
    -#          = link_to category.name, "#{category.id}", "data-toggle" => "collapse", "data-parent" => "categories"
    -#        .cb
    -#      - else
    -#        #{category.name}
    -#    %span.controls.fr
    -#      #{category.topics_count > 0 ? pluralize(category.topics_count, "topic") : "empty"}
    -#    .cb
    -#%div
    -#  %ul[category]