:javascript
  function loadTopics(category_id) {
    var elem = $('#category_'+category_id);
    if (elem.hasClass('open')) {
      elem.toggle();
      return false;
    }

    $.ajax({
      url: '/categories/' + category_id + '/topics',
      success: function(data) {
        $('#category_'+category_id).addClass('open').html(data.data);
      }
    });
  }

.categories
  - @categories.each do |category|
    .category.container.bgw
      %span.title
        = image_tag category.avatar
        - if category.topics_count > 0
          = link_to category.name, "#", :onclick => "loadTopics('#{category.id}'); return false;"
        - else
          #{category.name}
        %span.fr
          #{category.topics_count > 0 ? pluralize(category.topics_count, "topic") : "empty"}
        .cb
        - if category.topics_count > 0
          %ul[category]

  = render :partial => "shared/paginate", :locals => {:objects => @categories}
