!!!
%html
  %head
    %title Searcher
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "main/application"
    = csrf_meta_tags
  %body
    #body_wrapper
      #header
        #controls.bgw.container
          = link_to image_tag("logo_small.png", :size => "100x100", :class => "fl"), '/'
          %ul.fl
            %li= link_to "Add post", new_post_path
            %li= link_to "Last added", relevant_posts_path
            %li= link_to "Categories", categories_path
          #search.fr
            = form_for :search, :url => search_posts_path, :html => {:method => :get} do |f|
              = f.text_field :search
              = f.submit '>>'
          .cb
      #content.container.brdashw
        = yield
    #footer.bgw.container
      .m0a.w60
        .m0a.w30
          = "Created by craaaaaaazy (O_o)"
          = Time.now.year