!!!
%html
  %head
    %title Searcher
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "main/application"
    = csrf_meta_tags
  %body
    #page
      #wrap
        #header
          = render :partial => "layouts/navigation"

        #content.content_block
          = yield
    #footer.navbar-inner
      .m0a.w60
        .m0a.w30
          = "Created by craaaaaaazy (O_o)"
          = Time.now.year